body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:9px;
  top:17px;
  width:20px;
  height:23px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:52px;
  top:20px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:281px;
  top:18px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:9px;
  top:47px;
  width:20px;
  height:23px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u8 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:52px;
  top:50px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:281px;
  top:49px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u12 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:9px;
  top:79px;
  width:20px;
  height:23px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u14 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:52px;
  top:82px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:281px;
  top:80px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:9px;
  top:108px;
  width:20px;
  height:23px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:52px;
  top:111px;
  width:170px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:281px;
  top:109px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u24 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  height:22px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u26 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:42px;
  top:8px;
  width:169px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:272px;
  top:6px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u30 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:35px;
  width:20px;
  height:22px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u32 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:42px;
  top:37px;
  width:169px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:272px;
  top:36px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:64px;
  width:20px;
  height:22px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u38 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:42px;
  top:67px;
  width:169px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:272px;
  top:65px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u42 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:94px;
  width:20px;
  height:22px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u44 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:42px;
  top:97px;
  width:169px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:272px;
  top:95px;
  width:53px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#0066FF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u48 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:122px;
  width:325px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:25px;
}
#u50 {
  position:absolute;
  left:2px;
  top:4px;
  width:321px;
  word-wrap:break-word;
}
