body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u2 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
  opacity:0.5;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u4 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:120px;
  top:0px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u5_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u7 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u5_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
  opacity:0.5;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u9 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:240px;
  top:-1px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u12 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
  opacity:0.5;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u14 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:360px;
  top:0px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u17 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u15_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
  opacity:0.5;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u19 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:480px;
  top:0px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u22 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u20_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
  opacity:0.5;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:150px;
}
#u24 {
  position:absolute;
  left:2px;
  top:67px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:18px;
  top:160px;
  width:79px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:136px;
  top:160px;
  width:79px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:38px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:242px;
  top:159px;
  width:105px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:38px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:368px;
  top:160px;
  width:94px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:480px;
  top:160px;
  width:110px;
  height:38px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:38px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
