body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:145px;
  top:20px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u0_img.selected {
}
#u0.selected {
  opacity:0.699999988079071;
}
#u1 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:145px;
  top:102px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u2_img.selected {
}
#u2.selected {
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:139px;
  top:15px;
  width:86px;
  height:104px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:261px;
  top:20px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u5_img.selected {
}
#u5.selected {
  opacity:0.699999988079071;
}
#u6 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:255px;
  top:102px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u7_img.selected {
}
#u7.selected {
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:250px;
  top:15px;
  width:90px;
  height:105px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:145px;
  top:146px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u10_img.selected {
}
#u10.selected {
  opacity:0.699999988079071;
}
#u11 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:142px;
  top:228px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u12_img.selected {
}
#u12.selected {
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:139px;
  top:141px;
  width:86px;
  height:104px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:261px;
  top:146px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u15_img.selected {
}
#u15.selected {
  opacity:0.699999988079071;
}
#u16 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:255px;
  top:228px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u17_img.selected {
}
#u17.selected {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:250px;
  top:141px;
  width:90px;
  height:104px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:29px;
  top:20px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u20_img.selected {
}
#u20.selected {
  opacity:0.699999988079071;
}
#u21 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:25px;
  top:102px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u22_img.selected {
}
#u22.selected {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:21px;
  top:15px;
  width:98px;
  height:104px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u25 {
  position:absolute;
  left:29px;
  top:146px;
  width:72px;
  height:72px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:72px;
}
#u25_img.selected {
}
#u25.selected {
  opacity:0.699999988079071;
}
#u26 {
  position:absolute;
  left:2px;
  top:28px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:28px;
  top:228px;
  width:80px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
}
#u27_img.selected {
}
#u27.selected {
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:21px;
  top:129px;
  width:98px;
  height:116px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
