body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:351px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:123px;
  width:49px;
  height:77px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:77px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:281px;
  top:89px;
  width:70px;
  height:70px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:281px;
  top:180px;
  width:70px;
  height:70px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:126px;
  top:40px;
  width:64px;
  height:63px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:467px;
  width:65px;
  height:65px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u9 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
