body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:340px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:340px;
}
#u1 {
  position:absolute;
  left:2px;
  top:162px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:0px;
  width:380px;
  height:30px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:376px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:40px;
  width:380px;
  height:90px;
  color:#A69A9B;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u5 {
  position:absolute;
  left:2px;
  top:37px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:140px;
  width:380px;
  height:90px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u7 {
  position:absolute;
  left:2px;
  top:37px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:240px;
  width:380px;
  height:90px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:90px;
}
#u9 {
  position:absolute;
  left:2px;
  top:37px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:25px;
  top:45px;
  width:50px;
  height:50px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:25px;
  top:145px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:25px;
  top:245px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:26px;
  top:100px;
  width:48px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:26px;
  top:200px;
  width:48px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:26px;
  top:300px;
  width:48px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:106px;
  top:52px;
  width:270px;
  height:67px;
  color:#A69A9B;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:67px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:300px;
  top:100px;
  width:83px;
  height:16px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:106px;
  top:152px;
  width:270px;
  height:67px;
  color:#999999;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:67px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:300px;
  top:200px;
  width:83px;
  height:16px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:106px;
  top:252px;
  width:270px;
  height:67px;
  color:#A69A9B;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:67px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:300px;
  top:303px;
  width:83px;
  height:16px;
  font-size:11px;
  color:#999999;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
