body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:19px;
  top:19px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-size:18px;
  color:#CCCCCC;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6470588);
  -webkit-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6470588);
  -moz-text-shadow:1px 1px 1px rgba(0, 0, 0, 0.6470588);
}
#u2 {
  position:absolute;
  left:18px;
  top:57px;
  width:223px;
  height:155px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u2_img.selected {
  width:233px;
  height:165px;
}
#u2.selected {
  opacity:0.8;
}
#u3 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:271px;
  top:57px;
  width:223px;
  height:155px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u4_img.mouseOver {
  width:233px;
  height:165px;
}
#u4.mouseOver {
  opacity:0.8;
}
#u5 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:524px;
  top:57px;
  width:223px;
  height:155px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u6_img.mouseOver {
  width:233px;
  height:165px;
}
#u6.mouseOver {
  opacity:0.8;
}
#u7 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:777px;
  top:57px;
  width:223px;
  height:155px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u8_img.mouseOver {
  width:233px;
  height:165px;
}
#u8.mouseOver {
  opacity:0.8;
}
#u9 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:18px;
  top:342px;
  width:223px;
  height:155px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u10_img.mouseOver {
}
#u10.mouseOver {
  opacity:0.8;
}
#u11 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:271px;
  top:342px;
  width:223px;
  height:155px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u12_img.mouseOver {
  width:233px;
  height:165px;
}
#u12.mouseOver {
  opacity:0.8;
}
#u13 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:524px;
  top:342px;
  width:223px;
  height:155px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u14_img.mouseOver {
  width:233px;
  height:165px;
}
#u14.mouseOver {
  opacity:0.8;
}
#u15 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:777px;
  top:342px;
  width:223px;
  height:155px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:155px;
}
#u16_img.mouseOver {
  width:233px;
  height:165px;
}
#u16.mouseOver {
  opacity:0.8;
}
#u17 {
  position:absolute;
  left:2px;
  top:70px;
  width:219px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:18px;
  top:219px;
  width:223px;
  height:32px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:271px;
  top:222px;
  width:223px;
  height:32px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:524px;
  top:222px;
  width:223px;
  height:32px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:777px;
  top:222px;
  width:223px;
  height:32px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:271px;
  top:511px;
  width:223px;
  height:32px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:524px;
  top:511px;
  width:223px;
  height:32px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u28_img.mouseOver {
}
#u28.mouseOver {
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:777px;
  top:507px;
  width:223px;
  height:32px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u30_img.mouseOver {
}
#u30.mouseOver {
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:18px;
  top:511px;
  width:223px;
  height:32px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:40px;
  width:980px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:963px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:4px;
  width:980px;
  height:2px;
}
#u35 {
  position:absolute;
  left:18px;
  top:219px;
  width:48px;
  height:48px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:282px;
  top:219px;
  width:48px;
  height:48px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:530px;
  top:219px;
  width:48px;
  height:48px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:777px;
  top:219px;
  width:48px;
  height:48px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:18px;
  top:507px;
  width:48px;
  height:48px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:271px;
  top:507px;
  width:48px;
  height:48px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:524px;
  top:507px;
  width:48px;
  height:48px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:777px;
  top:507px;
  width:48px;
  height:48px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:48px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:18px;
  top:57px;
  width:222px;
  height:197px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
