body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:890px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:226px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:226px;
}
#u2 {
  position:absolute;
  left:2px;
  top:105px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:20px;
  width:745px;
  height:228px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:228px;
}
#u4 {
  position:absolute;
  left:2px;
  top:106px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:-8px;
  width:745px;
  height:228px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:228px;
}
#u6 {
  position:absolute;
  left:2px;
  top:106px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:228px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:228px;
}
#u8 {
  position:absolute;
  left:2px;
  top:106px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
}
#u1.a {
}
#u1_img.a {
}
#u2.a {
}
#u3.a {
  top:0px;
}
#u3_img.a {
}
#u4.a {
}
#u5.a {
}
#u7.a {
}
